@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Пикми */
  --color-soft-blush: var(--soft-blush);
  --color-pastel-pink: var(--pastel-pink);
  --color-cherry-blossom: var(--cherry-blossom);
  --color-cotton-candy: var(--cotton-candy);
  --color-petal-rouge: var(--petal-rouge);
  /* ЛЕС */
  --color-dark-walnut: var(--dark-walnut);
  --color-saddle-brown: var(--saddle-brown);
  --color-toffee-brown: var(--toffee-brown);
  --color-camel: var(--camel);
  --color-khaki-beige: var(--khaki-beige);
  --color-dry-sage: var(--dry-sage);
  --color-dry-sage-2: var(--dry-sage-2);
  --color-dusty-olive: var(--dusty-olive);
  --color-ebony: var(--ebony);
  --color-charcoal-brown: var(--charcoal-brown);
  /* Мох */
  --color-celadon: var(--celadon);
  --color-muted-teal: var(--muted-teal);
  --color-muted-teal-2: var(--muted-teal-2);
  --color-hunter-green: var(--hunter-green);
  --color-carbon-black: var(--carbon-black);
  /* Дуб */
  --color-alabaster-grey: var(--alabaster-grey);
  --color-dust-grey: var(--dust-grey);
  --color-ash-grey: var(--ash-grey);
  --color-granite: var(--granite);
  --color-gunmetal: var(--gunmetal);
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: #414833ff;
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.623 0.214 259.815);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.623 0.214 259.815);

  /* Пикми */
  --soft-blush: #ffe5ecff;
  --pastel-pink: #ffc2d1ff;
  --cherry-blossom: #ffb3c6ff;
  --cotton-candy: #ff8fabff;
  --petal-rouge: #fb6f92ff;
  /* ЛЕС */
  --dark-walnut: #582f0eff;
  --saddle-brown: #7f4f24ff;
  --toffee-brown: #936639ff;
  --camel: #a68a64ff;
  --khaki-beige: #b6ad90ff;
  --dry-sage: #c2c5aaff;
  --dry-sage-2: #a4ac86ff;
  --dusty-olive: #656d4aff;
  --ebony: #414833ff;
  --charcoal-brown: #333d29ff;
  /* Мох */
  --celadon: #a1cca5ff;
  --muted-teal: #8fb996ff;
  --muted-teal-2: #709775ff;
  --hunter-green: #415d43ff;
  --carbon-black: #111d13ff;
  /* Дуб */
  --alabaster-grey: #e6e8e6ff;
  --dust-grey: #ced0ceff;
  --ash-grey: #9fb8adff;
  --granite: #475841ff;
  --gunmetal: #3f403fff;
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.546 0.245 262.881);
  --primary-foreground: oklch(0.379 0.146 265.522);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.488 0.243 264.376);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.379 0.146 265.522);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.488 0.243 264.376);

  /* если хочешь, можешь тут переопределить свои палитры для dark */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'AnnaBelle';
  src: url('fonts/Annabelle\ Cyr.ttf');
  display: swap;
}

@font-face {
  font-family: 'main';
  src: url('fonts/YsabeauInfant-VariableFont_wght.ttf');
  display: swap;
}

@font-face {
  font-family: 'main';
  src: url('fonts/YsabeauInfant-Italic-VariableFont_wght.ttf');
  font-style: italic;
  display: swap;
}

body {
  font-family: 'main';
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.title {
  font-family: 'AnnaBelle';
}